<div class="container">

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>


  <h1><%= @coworking.name %></h1>
  <h2>Capacidad<%= @coworking.capacity %></h2>


  <p><%= @coworking.description %></p>
  <p><%= @coworking.price %></p>


  <h3>Ubicación</h3>

  <p><%= @coworking.address %></p>

  <%= simple_form_for([@coworking, @booking]) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>

<div class="container bg-g">
  <div class="pt-5">
      <h2>Esto dicen los usuarios</h2>
  </div>

  <div class="row">
    <div class="col-md-12">
    <%= link_to "Add Review", new_coworking_review_path(@coworking) %>
      <%= render @coworking.reviews %>
    </div>
  </div>
</div>












<%
=begin%>


  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1528508492773-4d8157f3bbfa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2049&q=80" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1528508492773-4d8157f3bbfa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2049&q=80" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1528508492773-4d8157f3bbfa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2049&q=80" class="d-block w-100" alt="...">
      </div>
    </div>
  <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>


  <h1><%= @coworking.name %></h1>
  <h2>Capacidad<%= @coworking.capacity %></h2>


  <p><%= @coworking.description %></p>
  <p><%= @coworking.price %></p>


  <h3>Ubicación</h3>

  <p><%= @coworking.address %></p>

  <%= simple_form_for([@coworking, @booking]) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>



<div class="container bg-g">
  <div class="pt-5">
      <h2>Esto dicen los usuarios</h2>
  </div>

  <div class="row">
    <div class="col-md-12">
    <%= link_to "Add Review", new_coworking_review_path(@coworking) %>
      <%= render @coworking.reviews %>
    </div>
  </div>
</div>
<%
=end%>
